@import url("styles/header.css");
@import url("styles/section1.css");
@import url("styles/section2.css");
@import url("styles/section3.css");
@import url("styles/footer.css");

:root {
    --cor-principal: #000000;
    --font-principal: "Righteous";
    --cor-fundo: #F5F5F5;
    --cor-fonte: #342727;
    --fonte-paragrafo: "Abhaya Libre";
}

body {
    margin-left: 60px;
    margin-right: 60px;
    font-family: var(--font-principal);
    background-color: var(--cor-fundo);
}